header{
    background-image: url(../Asset/img/bg-slider-06.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align:center;
    h2{
        font-family: 'allura';
        font-weight: 100;
        font-size: 60px;
        color: $allura;
        margin: 110px auto 0;
    }
    h1{
        font-family: "poppins";
        text-transform: uppercase;
        font-size: 60px;
        color: white;
        letter-spacing: 10px;
        margin: -40px auto 30px;
    }
    p{
       font-family: 'roboto';
       font-size: 30px; 
       font-weight: 100;
       letter-spacing: 5px;
       text-transform: uppercase;
       color: white;
    }

}