$allura: rgb(166, 114, 69);

body{
    background: rgb(33, 32, 30);
    margin: 0;
}
p{
    font-family: 'roboto';
}
 @mixin plats{
    display: flex;
        margin: 30px;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px dashed rgb(211, 211, 211) ;
 }

 @mixin line-bottom{
    border: none;
        background: whitesmoke;
        border-bottom: 1px solid rgba(128, 128, 128, 0.521);
        padding-bottom: 10px;
        font-size: 15px;
        font-family: 'poppins',sans-serif;
 }